<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- springmybatis的整合 -->
    <bean id="sessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <!-- mybatis全局配置文件  classpath*代表在所有依赖的jar包中类路径下扫描     -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"></property>
        <!-- mapper映射文件-->
        <property name="mapperLocations" value="classpath*:mybatis/mapper/*.xml"></property>
        <!-- 启用pageHelper分页插件-->
        <property name="plugins">
            <bean class="com.github.pagehelper.PageInterceptor">
                <property name="properties">
                    <!--分页合理化   点击下一页时如果没有了则跳转到最后一页 ，点击上一页时如果是第一页则跳转到最后一个 -->
                    <value>reasonable=true</value>
                </property>
            </bean>
        </property>
    </bean>
    <!--  配置mapper接口  com.atguigu.bus.mapper和com.atguigu.sys.mapper -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
<!--        配置多个mapper包-->
        <property name="basePackage">
                <value>
                    com.atguigu.bus.mapper
                    com.atguigu.sys.mapper
                    com.atguigu.stat.mapper
                </value>
        </property>
    </bean>

</beans>